body, html {
  width: 100%; }

/*header*/
.oTopbar {
  width: 100%;
  background: #fff;
  opacity: .9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .oTopbar .navbar {
    margin: 0;
    padding: 0; }

.oHeader {
  margin-top: 50px; }

/*header*/
/*oFooter*/
.oFooter {
  width: 100%;
  min-height: 168px;
  background: #d75555; }
  .oFooter .container-fluid {
    height: 100%;
    padding: 0; }
    .oFooter .container-fluid .row {
      margin: 0;
      height: 100%; }
      .oFooter .container-fluid .row div {
        padding: 0; }
        .oFooter .container-fluid .row div ul {
          margin-top: 40px; }
          .oFooter .container-fluid .row div ul .oFriendlink, .oFooter .container-fluid .row div ul .oCopyright, .oFooter .container-fluid .row div ul .oSiteInfo {
            width: 100%;
            text-align: center;
            margin-bottom: 22px; }
        .oFooter .container-fluid .row div .wechat {
          margin-top: 38px;
          margin-left: 10px;
          margin-right: 76px; }
        .oFooter .container-fluid .row div:nth-of-type(2) {
          height: 100%; }

/*oFooter*/
/*computer*/
@media all and (min-width: 1170px) {
  .container {
    width: 1200px; }

  .oHeader img {
    height: 665px; } }
/*computer*/
/*ipad*/
@media all and (min-width: 416px) and (max-width: 1169px) {
  .oFooter .container-fluid .row {
    width: 100%; }
    .oFooter .container-fluid .row > div:last-of-type {
      padding-bottom: 30px;
      text-align: -webkit-center; }
      .oFooter .container-fluid .row > div:last-of-type .wechat {
        width: 100%;
        height: 100%; }
        .oFooter .container-fluid .row > div:last-of-type .wechat img {
          margin-left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); } }
/*ipad*/
/*phone*/
@media all and (max-width: 415px) {
  /*oFooter*/
  .oFooter .container-fluid .row {
    width: 100%; }
    .oFooter .container-fluid .row > div:last-of-type {
      padding-bottom: 30px; }
      .oFooter .container-fluid .row > div:last-of-type .wechat {
        margin: 0;
        padding: 0;
        text-align: center; }

  /*oFooter*/ }
/*phone*/
